* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.headerNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNavContainerList button {
  width: 245px;
}

.App {
  border: 2px solid black;
  width: 750px;
  height: 750px;
  margin: 0 auto;
}
.searchInput {
  padding: 12px 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mainContainer {
  position: relative;
}

.todoItem {
  padding: 8px 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.todoItem span {
  padding: 8px 12px;
}

.todoItem button {
  padding: 5px;
  margin: 5px;
}

.modifyModal {
  background-color: pink;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 250px;
  top: 250px;
}

.modifyModal input {
  margin-right: 6px;
}
